$theme-colors:(
    "altairDark" : #1a1a1a,
    "altairRose" : #eb5f62,
    "altairSable" : #ffcb94
);

$altairDark: #1a1a1a;
$altairRose: #eb5f62;
$altairSable: #ffcb94;
$elegant-color-dark: #212121;
$grey-darken-1: #757575;
$bg-grey: #333;
$card-grey: #3c3838;
$txtgrey: #acacac;

*{
    font-family: "Barlow-Regular";
    letter-spacing: 1px;
    word-spacing: 1px;
}

.actionBtn button{
    box-shadow: none!important;
}

/*--------------------- HEADER ---------------------*/

.text-grey{
    color: $txtgrey!important;
    & a:hover{
        color: #df4650!important;
    }
}

.text-rose a{
    color: #df4650!important;
    &:hover{
        color: black!important;
    }
}

.btn{
    color: #fff;
    text-transform: none!important;
}

.formBtn button{
    padding: 0!important;
}

.btn-fb{
    background-color: #3b5998 !important;
    border: none;
}

.btn-floating{
    padding: 0;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    transition: all .2s ease-in-out;
    width: 61.1px;
    height: 61.1px;
}

.draken-1{
    background-color: $grey-darken-1!important;
}

.elegant-color{
    background-color: $altairDark!important;
}

.card-grey{
    box-shadow: 1px 3px 15px 10px rgb(32, 32, 32) inset;
}

.card-grey-2, .card-grey-3{
    box-shadow: 5px 5px 60px 0px rgba(0, 0, 0, 0.5);
}

.card-grey, .card-grey-2, .card-img{
    background-color: $bg-grey!important;
    border-radius: 20px!important;
}

@font-face{
    font-family: "Barlow-Regular";
    src: url("../fonts/Barlow-Regular.ttf");
}
@font-face{
    font-family: "AbrilFatface";
    src: url("../fonts/AbrilFatface-Regular.ttf");
}
@font-face{
    font-family: "BebasNeue-Regular";
    src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face{
    font-family: "DancingScript";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face{
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}
@font-face{
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face{
    font-family: "Hikou_Inline";
    src: url('../fonts/Hikou_Inline.otf');
}

.navbar{
    box-shadow: 5px 10px 10px rgb(37, 37, 37);
}

.popover-body{
    background-color: $altairRose;
    color: white;
}

.arrow::after{
    border-bottom-color: #eb5f62!important;
}

.dropdown-item{
    color: inherit!important;
}

.dropdown-item:hover{
    color: black!important;
}


/*---------------------- MAIN ----------------------*/


body{
    background-color: $bg-grey!important;
    margin: 0!important;
    padding: 0!important;
    font-family: "Barlow-Regular", serif;
}

.bg-Altair-grey{
    background-color: $bg-grey;
}

.monthTitle{
    font-family: "Hikou_Inline";
    font-size: 2em;
    text-shadow: 0 5px 10px black;
}

.monthHeader i{
    color: white!important;
    vertical-align: super;
}

.titleEvent{
    font-family: "Hikou_Inline";
}

.customLink a{
    color: white!important;
    &:hover{
        color: black!important;
    }
}

.customLink2 a{
    color: white!important;
    &:hover{
        color: #df4650!important;
    }
    &:hover svg path{
        fill: #df4650!important;
    }
}

a:hover svg path{
    fill: black!important;
}

#bgImage{
    filter: grayscale(0.8);
    width: 99vw;
}

.sidebar{
    z-index: 100;
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
}

.sidebar a{
    font-size: 1.5em;
    color: $altairRose!important;
}

.card{
    border: none!important;
}

#profilImg{
    border-top-right-radius: 36%;
    border-bottom-right-radius: 10%;
    padding : 1em;
}

label{
    color: inherit;
}

table, table a{
    color: $txtgrey!important;
}

.tableMembers{
    color: inherit!important;
}

.infobulle{
    position: relative;
}

.infobulle:hover .tooltip{
    top: -30px;
    opacity: 1;
}

.tooltip{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #fff;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
}

.cardEvent{
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    min-height: 100%;
}

.imgMap{
    filter: grayscale(1) invert(1) brightness(0.60);
    border-radius: 20px;
}

input, select, textarea{
    border: none!important;
    background-color: $bg-grey!important;
    color: white!important;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.5);
}

.form-control{
    color: white!important;
    background-color: $bg-grey!important;
    margin: 0!important;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.5)!important;
}

.form-group input{
    padding: 1.5rem!important;
}

// .custom-select{
//     padding: 1rem!important;
//     height: 60%!important;
//     line-height: 1!important;
// }

button a, button{
    color: white!important;
}

button:hover, button a:hover{
    color: black!important;
}


/*-------------------- PARAMETER -------------------*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       
 }

.exemple{
    text-shadow: 1px 1px 2px red;
}

.exemple1{
    text-shadow: 1px 1px 2px pink;
}

.exemple2{
    text-shadow: 1px 1px 2px black;
}

.exemple3{
    text-shadow: 1px 1px 2px yellow;
}

.exempleFont{
    font-family: "Barlow-Regular";
}

.exempleFont1{
    font-family: "AbrilFatface";
}

.exempleFont2{
    font-family: "BebasNeue-Regular";
}

.exempleFont3{
    font-family: "DancingScript";
}

.exempleFont4{
    font-family: "HelveticaNeue";
}

.exempleFont5{
    font-family: "Raleway";
}

.exempleFont6{
    font-family: "Roboto";
}

.zoom1:hover{
    transform: scale(1);
}

.zoom15:hover{
    transform: scale(1.5);
}

.zoom05:hover{
    transform: scale(0.5);
}

.zoom2:hover{
    transform: scale(2);
}

.zoom15, .zoom05, .zoom2{
    transition: all .3s ease-in-out!important;
}

/*-------------------BTN-EFFECTS------------------*/

.btnEffect{
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: #6c757d;
    border-radius: .3rem;
    outline: none;
    font-size: 20px;
    color: white;
}

.btnEffect:hover{
    box-shadow: inset 0px 2px 5px black;
    transform: translateY(20px);
    color: white;
}

.container2:hover{
    transform: translateY(2px);
}

//color/ui color variables
$white: #ececec;
$black: #111111;
$red1: #e74c3c;
$red2: #c92918;
$colorPrimary: $red1;
$colorSecondary: $red2;
$cubic-bezier:cubic-bezier(0.68, -0.55, 0.265, 1.55);

//split button mixin
@mixin btnEffect2__split($foregroundColor, $backgroundColor, $textColor) {
    .btnEffect2 {
        position: relative;
        letter-spacing: 0.15em;
        margin: 0 auto;
        padding: 1rem 2.5rem;
        background: transparent;
        outline: none;
        font-size: 28px;
        color: $textColor;
        transition: all 0.5s $cubic-bezier 0.15s;
        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 40%;
            width: 10%;
            transition: all 0.5s $cubic-bezier;
            z-index: -2;
            border-radius: 50%;
        }
        &::before {
            z-index: 0;
            background-color: $backgroundColor;
            top: -0.75rem;
            left: 0.5rem;
            animation: top 2s $cubic-bezier 0.25s infinite alternate;
        }
        &::after {
            z-index: 0;
            background-color: $foregroundColor;
            top: 3rem;
            left: 13rem;
            animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
        }
        &:hover {
            z-index: 5;
            color: $white;
            &::before,
            &::after {
                z-index: -1;
                top: 0;
                height: 100%;
                width: 100%;
                border-radius: 0;
                animation: none;
            }
            &::after {
                left: 0rem;
            }
            &::before {
                top: 0.5rem;
                left: 0.35rem;
            }
        }
    }
}

.myAll{
    box-sizing: border-box;
}

.cardBody {
    color: $black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container2 {
    width: auto;
    margin: auto;
}

.container2 a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

@keyframes top{
    from{
        transform: translate(0rem, 0);
    }
    to {
        transform: translate(0rem, 3.5rem);
    }
}

@keyframes bottom{
    from{
        transform: translate(-11.5rem, 0);
    }
    to{
        transform: translate(0rem, 0);
    }
}

@include btnEffect2__split($colorPrimary, $colorSecondary, $black);



/*-------------------- CALENDAR -------------------*/


.aside-calendar{
    min-height: 66vh;
}

.calendar__table{
    width: 100%;
}

.eventsBlock{
    height: 10vh!important;
    overflow: auto;
    scrollbar-color: transparent #2a2e33;
    text-align: start!important;
}

.eventsBlock::-webkit-scrollbar{
    display: none;
}

.calendar__table td{
    border: 1px solid #acacac;
    vertical-align: top;
    width: calc(100% / 7);
    z-index: 12;
}

.calendar__table--6weeks td{
    height: 16.66%;
}

.calendar__table td:hover, .calendar__table--6weeks td:hover{
    transform: scale(1.05);
    background-color: #333;
    box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.5);
    border: none;
}

.calendar__table td.is-today{
    background-color: #454a50;
}

.calendar__othermonth .calendar__day{
    opacity: 0.8;
    color: grey!important;
}

.calendar__table tr:first-of-type td {
    border-top: none!important;
}

.calendar__table td:first-of-type{
    border-left: none!important
}

.calendar__table td:last-of-type{
    border-right: none!important;
}

.calendar__table tr:last-of-type td{
    border-bottom: none!important;
}


/*--------------------- RS --------------------------*/

#postsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin: 2%;
}

.post{
    background-color: #333;
    box-shadow: 5px 5px 60px 0px rgba(0, 0, 0, 0.5);
    color: rgb(248, 247, 247);
    margin: 2%;
    border-radius: 5%;
    padding-left: .5%;
    padding-right: .5%;
    word-wrap: break-word;
    max-width: calc(100vw / 3 - 5%);
}

.post:hover{
    box-shadow: -3px -5px 10px rgb(253, 253, 253), 3px 5px 5px rgb(187, 187, 187);
}

.post img, .post video{
    width: 100%;
    height: 50%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    margin-top: 3%;
    transition: all .5s ease-in-out;
}

.post img:hover{
    border-radius: inherit;
    transform: scale(1.5);
}

.post p{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    word-break: break-word;
    overflow: auto;
    overflow-x: hidden;
    height: 200px;
    padding: 1rem;
}

.post p::-webkit-scrollbar{
    display: none;
}

/*----------------- IMAGE RESIZER ------------------*/

.vignettes{
    flex-direction: row;
    overflow: scroll;
    height: 180px;
    border-radius: 8px;
    overflow-y: hidden;
}

.caroussel{
    display: inline-flex;
    flex: 1;
    overflow: hidden;
}

.vignettes .caroussel img{
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 8px;
}

/*--------------------- FOOTER ---------------------*/


.myFooter{
    box-shadow: 5px -10px 10px rgb(37, 37, 37);
    position: relative;
    bottom: 0;
}

/*------------MEDIA QUERY----------------*/


@media all and (max-width: 768px){

    .sidebar{
        width: 100vw;
        top: 60px;
    }

    #bgImage{
        height: 100vh;
    }

    .nav-link{
        padding: 0!important;
    }

    .myLink a{
        padding: 0.4rem 0.3rem!important;
    }

    #editProfil{
        & a{
        position: absolute;
        top: -15px;
        // right: -20px;
        }
        & a span{
            display: none;
        }
        & a svg{
            width: 1.5em;
        }
    }

    // #bannerImg{
    //     width: 100vw!important;
    // }



    /**-------CALENDAR----------**/

    #dynamicCard div.row:first-child{
        margin-top: 3em;
    }

    .aside-calendar{
        min-height: 100%;
    }

    .embed-responsive{
        height: 500px!important;
    }


    /*------------- RS --------------*/

    #postsList{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(95vw - 8%);
    }

    .post img:hover{
        transform: scale(1.1);
    }

    .post img, .post video{
        width: calc(95vw - 14%);
        height: auto;
    }
}

@media all and (min-width: 768px){
    .myCards{
        height: calc(100vh - 60px);
    }
}
